body {
    background-color: darkgrey;
}
  
h1 {
    color: black;
    text-align: center;
}

table {
    margin-left: auto;  
    margin-right: auto;
}

thead tr {
    background-origin: border-box; /* set background to start from border-box */
    border-spacing: 5px; /* space between each cell */
}

thead tr td{
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-color: transparent;
    border-top-width: 0px;
    border-bottom-width: thin;
    border-image-source: radial-gradient(#303030, #949494 100%);
    border-image-repeat: none;
    border-image-slice: 30;
}
